.left-box {
    float:left;
    min-height: 500px;
    width:150px;
    margin-top: 20px;
    border-right:1px solid #2a6496;
    margin-bottom: 10px;
}
.left-box ul{
}
.left-box li{
    list-style:none;
    margin-bottom: 0px;
    height: 37px;
    padding: 10px;
    background: #EEEEEE;
    color:#2a6496;
    font-size: 16px;
    line-height: 15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top: 1px solid #FFFFFF;
}

.cur-li {
    background: #FFFFFF !important;
    border: 1px solid #2a6496 !important;
    border-right: 0px solid #2a6496 !important;
    margin-right: -1px;
}

.right-box {
    float: left;
    min-height: 100px;
    padding:20px;
    width: 760px;
}